@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

/* notes (ofc up to change, this is just to find stuff and keep track):
current text color: pink-100, found in tailwind css 
dark text color: zinc-600
background: oklch(27.4% 0.006 286.033), found in index.css file, aka zinc-800 in tailwind
lighter-dark accent: zinc-600
blue: blue-200
 */


:root {
  font-family: "Rubik", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  
  color-scheme: light dark;
  background-color: oklch(27.4% 0.006 286.033);  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  max-width: 1280px;
  min-width: 320px;


}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.4s ease-out forwards;
}

h1 {
  line-height: 1.1;
}

button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(1);
}

button:disabled {
  cursor: not-allowed;
}

